{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Programmer's blog</title>
</head>
<body>
    <header style="text-align: center;">
        <h1 style="text-align: center;"><a href="{% url 'home' %}"></a>Programmer's blog</h1>
    </header>
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
    {% else  %}
        <a href="{% url 'login' %}">Log in the website</a><br>
        <a href="{% url 'signup' %}">Sign up the website</a>
    {% endif %}
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        <h2><a href="{% url 'post_new' %}" style="color:dodgerblue;">Adding new post</a></h2>
    </footer>
</body>
</html>